.contenedor{
    border: 2px solid red;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content:space-around;/*Acomodar los elementos según su eje principal:justify content: left, right, center  
                                space-between
                                space-evenly
                                space-around*/
    align-items:center;/*align-items
                            start
                            center
                            bottom*/
}
.cuadro{
    border: 2px solid #000;
    width: 100px;
    height: 100px;
}
.verde{
    background: #266741;

}
.amarillo{
    background: #b9a44d;
}
.rojo{
    background: #9a2c1e;
}
.azul{
    background: #301cb0;
}